@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Pacifico');

*, *:after, *:before{
  box-sizing:border-box;
  margin:0;
  padding:0;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.sky {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #060010;
    background: -moz-linear-gradient(
      top,
      #060010 0%,
      #060010 6%,
      #090016 11%,
      #070016 20%,
      #0a0121 48%,
      #0a0127 55%,
      #0a0129 57%,
      #0c012b 62%,
      #0e0131 68%,
      #0d012f 69%,
      #18023c 78%,
      #19023e 79%,
      #19023e 79%,
      #1c0242 81%,
      #22034b 85%,
      #2e045a 92%,
      #2f045e 96%,
      #340464 98%,
      #370569 100%
    );
    background: -webkit-linear-gradient(
      top,
      #060010 0%,
      #060010 6%,
      #090016 11%,
      #070016 20%,
      #0a0121 48%,
      #0a0127 55%,
      #0a0129 57%,
      #0c012b 62%,
      #0e0131 68%,
      #0d012f 69%,
      #18023c 78%,
      #19023e 79%,
      #19023e 79%,
      #1c0242 81%,
      #22034b 85%,
      #2e045a 92%,
      #2f045e 96%,
      #340464 98%,
      #370569 100%
    );
    background: linear-gradient(
      to bottom,
      #060010 0%,
      #060010 6%,
      #090016 11%,
      #070016 20%,
      #0a0121 48%,
      #0a0127 55%,
      #0a0129 57%,
      #0c012b 62%,
      #0e0131 68%,
      #0d012f 69%,
      #18023c 78%,
      #19023e 79%,
      #19023e 79%,
      #1c0242 81%,
      #22034b 85%,
      #2e045a 92%,
      #2f045e 96%,
      #340464 98%,
      #370569 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="#060010",
        endColorstr="#370569",
        GradientType=0
      );
  
    transform: scale(1);
  }

.urare{
  width: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  font-weight: 700;
  color: #f48fb1;
  text-align: center;
  position: absolute;
  top: 50%;
  opacity: 0;
  animation: tranzitie_urare 2s ease-in-out 7s forwards;
}
.anul_nou{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 200px 100px 0px 0px;
}
.anul_nou>span{
  font-family: 'Montserrat', sans-serif;
  font-size: 175px;
  font-weight: 700;
  color: #7a8fe8;
}
span.trei{
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -220px;
  animation: an_2023 5s ease-in-out 5s forwards;
}
span.patru{
  position: absolute;
  right: 0%;
  margin-right: -230px;
  animation: an_2024 6s ease-in-out forwards;
}
span.patru:before{
  content: '';
  width: 0px;
  height: 6px;
  display: block;
  border-radius: 3px;
  background: #7a8fe8;
  transform: rotate(0deg);
  transform-origin: left top;
  position: absolute;
  top: 65px;
  left: -15px;
  z-index: -1;
  animation: intrare_balon 1s ease-in-out 4s;
}
.balon{
  width: 100px;
  height: 100px;
  display: block;
  background: #e8d57a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -165px;
  right: 0%;
  margin-right: -220px;
  animation: tranzitie_balon 10s ease-in-out forwards;
}
.balon:before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #b19b32 transparent;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -10px;
  z-index: -1;
}
.balon:after{
  content: '';
  width: 4px;
  height: 100px;
  display: block;
  background: #fff;
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  bottom: -110px;
}
.artificii{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.artificii>div{
  border: 2px solid #fff;
  position: absolute;
  opacity: 0;
  animation: intrare_artificii 1.5s ease-in-out 8s forwards;
}
.artificii>div.f1{
  left: 20%;
  top: 40%;
}
.artificii>div.f2{
  left: 15%;
  top: 70%;
}
.artificii>div.f3{
  right: 20%;
  top: 40%;
}
.artificii>div.f4{
  right: 15%;
  top: 70%;
}
.artificii>div span{
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: explozii_artificii 0.5s ease-in-out 9s forwards;
}
.artificii>div span:nth-child(1){
  transform: rotate(0deg);
}
.artificii>div span:nth-child(2){
  transform: rotate(120deg);
}
.artificii>div span:nth-child(3){
  transform: rotate(240deg);
}
.artificii>div span:before{
  content: '';
  width: 2px;
  height: 50px;
  display: block;
  background: #f5cc06;
  position: absolute;
  top: -60px;
  left: 2px;
}
.artificii>div span:after{
  content: '';
  width: 2px;
  height: 50px;
  display: block;
  background: #f5cc06;
  position: absolute;
  bottom: -60px;
  left: 2px;
}
.artificii>div span i:before{
  content: '';
  width: 3px;
  height: 3px;
  display: block;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -15px;
  left: 10px;
}
.artificii>div span i:after{
  content: '';
  width: 3px;
  height: 3px;
  display: block;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -15px;
  right: 10px;
}


  

@keyframes an_2024 {
  0% {
    right: 0%;
  }
  66.6666% {
    right: 50%;
    margin-right: -340px;
  }
  90% {
    right: 50%;
    margin-right: -340px;
  }
  100% {
    right: 50%;
  }
}
@keyframes tranzitie_balon {
  0% {
    right: 0%;
  }
  40% {
    right: 50%;
    margin-right: -340px;
  }
  50% {
    right: 50%;
    margin-right: -220px;
    top: 50%;
  }
  100% {
    top: -100%;
    right: 50%;
  }
}
@keyframes intrare_balon {
  0% {
    transform: rotate(-30deg);
    width: 100px;
  }
  100% {
    transform: rotate(-150deg);
    width: 70px;
  }
}
@keyframes an_2023 {
  0% {
    top: 50%;
  }
  100% {
    top: -100%;
  }
}
@keyframes tranzitie_urare {
  0% {
    margin-top: 0px;
    opacity: 0;
  }
  100% {
    margin-top: -200px;;
    opacity: 1;
  }
}
@keyframes intrare_artificii {
  0% {
    margin-top: 100%;
    opacity: 0;
    width: 2px;
    height: 30px;
    display: block;
    border-radius: 50%;
  }
  75% {
    margin-top: 0%;
    opacity: 1;
    width: 2px;
    height: 30px;
    display: block;
    border-radius: 50%;
  }
  80%{
    margin-top: 0px;
    margin-left: 0px;
    opacity: 1;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    transform: scale(0.2);
  }
  100%{
    opacity: 1;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    transform: scale(1);
  }
}
@keyframes explozii_artificii {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}